<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OpenTK" publicKeyToken="BAD199FE84EB3DF4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
